.header {
  background-color: #d1c4e9;
  padding: 1rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  color: white;
  text-decoration: none;
  margin-right: 1rem;
  font-size: 1.2rem;

  &:hover {
    text-decoration: underline;
  }
}

.searchBar {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}